    {{#projects}}
    
    <li>
        <a href="/projects/{{ directory }}">{{ title }}</a>
         {{#if ../description}}
    <p class="description">{{ description }}</p>
     {{/if}}
    <a href='/projects/{{ directory }}'>
    {{#if ../images}}
   <img class='thumbnails' src='/{{ directory }}/screenshot.png'>
   {{/if}}
   </a>
   </li>

    {{/projects}}