<body>
        <img id="home-page-img" src="/sunset.png">
    {{> navbar }}
    <section>
    <h1> These are all our supporters {{#if SignersByCity }} in {{city}} {{/if}}!</h1>
 
 <div id="form">

    <ul>{{#signers}} 
      <a class="signers-links" href={{url}}><li>{{first}} {{last}}</a> {{age}} <a class="signers-links" href="signers/{{city}}">{{city}}</li></a> </br>              
        {{/signers}}
        </ul> 
    </div>
    <div id="form">
    <ul id="signers">
        {{#signersByCity}}
        <a class="signers-links" href={{url}}><li>{{first}} {{last}}</a> {{age}} </br>   
        {{/signersByCity}} 
    </ul> 
    </div>
</section>
    
</body>
</html>

{{!-- //<a href="'/signers/'+{{city}}"></a> --}}