<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signers</title>
</head>
<body>
    <section>
    <h1> These are all our supporters {{#if SignersByCity }} in {{city}} {{/if}}!</h1>
 <div id="form">
    <ul>{{#signers}}
      <a href={{url}}><li>{{first}} {{last}}</a> {{age}} <a href="signers/{{city}}">{{city}}</li></a> </br>              
        {{/signers}}
    </ul> 
    </div>
</section>
    
</body>
</html>

{{!-- //<a href="'/signers/'+{{city}}"></a> --}}